.scroll-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .scroll-icon {
    cursor: pointer;
    font-size: 5rem;
    color: #7e7c7c;
    font-weight: 100;
    user-select: none;
    margin-bottom: 150px;
    
  }
  
  #cardContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    margin-left: 65px; 
  }
  
  .card_collection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px; 
  }
  