.container_footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(199, 205, 210);
    gap: 10px;
    padding-top: 15px;
    

}

.row{
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.column{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer_button,
.footer_text {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-shadow: none
  }
  
  .footer_button:hover,
  .footer_button:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .footer_text{
    font-weight: bold;

  }