.container_footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(199, 205, 210);
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    

}

.row{
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.column{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer_button,
.footer_text,
.button_privacy {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-shadow: none
  }
  
  .footer_button:hover,
  .footer_button:focus,
  .button_privacy:hover,
  .button_privacy:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .footer_text{
    font-weight: bold;

  }

  .social_media{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .social_icon{
    size: 36px;
    color: black;
  }
  .footer_text{
    margin-left: 20px;
    
    font-size: 16px;

  }  
  .button_privacy{
    margin-left: 20px;
  }
  