.navigationbar{
    margin-top: 10px;
    border-bottom: 2px;
    border-color: rgb(117, 107, 107);
    border-bottom-style: outset;
    border-bottom-color: rgb(48, 53, 58);
    
}
.me-auto{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the icon from interfering with input focus */
  }