.searchbar{
    position: absolute;
    right: 200px;
}

.search-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}
.user_icon{
    font-size: 140%;
    position: absolute;
    right: 0px;
    top: 5px;
    left: 135%;
}
.cart_icon{
    font-size: 140%;
    position: absolute;
    top: 5px;
    left: 155%;
}