.story_container2{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}
.material_img{
    width: 70%;
    height: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 20%;
}