 .story_container3{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}
.worker_img{
    width: 50%;
    height:60%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 40%;
}
.container3_para{
    width: 100%;
} 

